<div id="rutinas">
    <h3>Rutinas de otros usuarios</h3>
    <ul>
        <li><span>Nombre de la rutina </span><span>usuario que la creó</span><button>ver rutina completa</button></li>
        <li><span>Nombre de la rutina </span><span>usuario que la creó</span><button>ver rutina completa</button></li>
    </ul>
</div>
