---
import Layout from "../layouts/Layout.astro";
import Rutinas from "../components/Rutinas.astro";
import CrearRutina from "../components/CrearRutina.jsx";
---

<Layout>
    <Rutinas />
    <CrearRutina client:load />
    <button id="nueva-rutina">Nueva Rutina</button>
</Layout>
