---
import Layouts from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layouts>
    <navbar>
    <a href="/login/">Iniciar Sesión</a>
    <a href="/signup/">Crear Cuenta</a>
    </navbar>
    <h2>Bienvenido a la página de GYM LO QUE SEA</h2> 
</Layouts>
