---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <form>
        <div>
        <label for="usuario">Usuario</label>
        <input id="usuario" name="usuario" />
        </div>
        <div>

        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" name="contraseña" />
        </div>

        <button>Iniciar Sesión</button>
        <a href="/">Volver</a>
    </form>
    </form>
</Layout>
