---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <form>
        <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email"/>
        </div>
        <div>

        <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" />
        </div>
        <div>
            
        <div>
        <label for="apellidos">Apellidos</label>
        <input id="apellidos" name="apellidos" />
        </div>
        <div>

        <div>
        <label for="nombre">Usuario</label>
        <input id="nombre" name="usuario" />
        </div>
        <div>

        <label for="contrase単a">Contrase単a</label>
        <input type="password" id="contrase単a" name="contrase単a" />
        </div>

        <button>Crear Cuenta</button>

        <a href="/">Volver</a>

    </form>
</Layout>

