---
import Ejercicio from "../layouts/Ejercicio.astro";
---

<!-- L칩gica -->
<script>
    const buttonAdd = document.querySelector('#nueva-rutina');
    const formAdd = document.querySelector('#form-rutina');
    const addExercise = document.querySelector('#agregar-ejercicio');

    buttonAdd.addEventListener('click', nuevaRutina);
    addExercise.addEventListener('input', buscarEjercicios);

    function buscarEjercicios() {
        fetch('https://exercisedb-api.vercel.app/api/v1/exercises')
            .then(res => res.json())
            .then(data => {
                console.log(data.data.exercises);
            });
    }

    
    function nuevaRutina() {
        formAdd.classList.toggle('show');
    }
</script>

<!-- componente -->
<div>
    <button id="nueva-rutina">Nueva Rutina</button>

    <form id="form-rutina" class="hidden">
        <div>
        <label for="nombre-rutina">Nombre de la rutina</label>
        <input id="nombre-rutina" name="contrase침a" />
        </div>

        <div>
        <label for="target-muscle">Filtro</label>
        <select id="target-muscle" name="target-muscle">
            <option value="todos">Todos</option>
            <option value="wrists">Mu침ecas</option>
            <option value="biceps">Biceps</option>
            <option value="biceps">Biceps</option>
            <option value="biceps">Biceps</option>
            <option value="biceps">Biceps</option>
        </select>
        </div>
        
        <!-- trata de hacer de esto un componente reutilizable para agregar m치s -->
        <div>
        <label for="agregar-ejercicio">Agregar Ejercicio</label>
        <input id="agregar-ejercicio" name="agregar-ejercicio" type="search"/>
        <button type="button">+</button>
        </div>
        
        <button type="submit">Guardar Rutina</button>

    </form>
</div>

<!-- Estilos -->
<style>
    .hidden {
        display: none;
    }

    .show {
        display: block;
    }
</style>
