<!-- Lógica -->
<script>
    const buttonAdd = document.querySelector('#nueva-rutina');
    const formAdd = document.querySelector('#form-rutina');
    const addExercise = document.querySelector('#agregar-ejercicio');

    let searchEx;

    buttonAdd.addEventListener('click', nuevaRutina);
    addExercise.addEventListener('input', buscarEjercicios);

    const cachedData = localStorage.getItem("exercises");
    if (!cachedData) {
        fetch('https://exercisedb-api.vercel.app/api/v1/exercises')
            .then(response => response.json())
            .then(data => {
                localStorage.setItem("exercises", JSON.stringify(data));
                console.log("todo salió bien");
            })
            .catch(err => console.error("Error: ", err.message));
    }


    function buscarEjercicios() {
        searchEx = addExercise.value;
    }
    
    function nuevaRutina() {
        formAdd.classList.toggle('show');
    }

    //function search() {
    //    const params = new URLSearchParams({ search: searchEx, limit: 10 });

    //    fetch('https://exercisedb-api.vercel.app/api/v1/exercises?${params}')
    //        .then(res => res.json())
    //        .then(data => {
    //            exercises = data.data.exercises;
    //        });

    //}

</script>

<!-- componente -->
<div>
    <button id="nueva-rutina">Nueva Rutina</button>

    <form id="form-rutina" class="hidden">
        <div>
        <label for="nombre-rutina">Nombre de la rutina</label>
        <input id="nombre-rutina" name="contraseña" />
        </div>

        <div>
        <label for="target-muscle">Filtro</label>
        <select id="target-muscle" name="target-muscle">
            <option value="todos">Todos</option>
            <option value="wrists">Muñecas</option>
            <option value="biceps">Biceps</option>
            <option value="biceps">Biceps</option>
            <option value="biceps">Biceps</option>
            <option value="biceps">Biceps</option>
        </select>
        </div>
        
        <!-- trata de hacer de esto un componente reutilizable para agregar más -->
        <div>
        <label for="agregar-ejercicio">Agregar Ejercicio</label>
        <input id="agregar-ejercicio" name="agregar-ejercicio" type="search" />        
        <label for="series">Series</label>
        <input id="series" name="series" />
        <label for="repeticiones">Repeticiones</label>
        <input id="repeticiones" name="repeticiones" />
        <label for="peso">Peso</label>
        <input id="peso" name="peso" />

        <button type="button">+</button>
        </div>
        
        <button type="submit">Guardar Rutina</button>

    </form>
</div>

<!-- Estilos -->
<style>
    .hidden {
        display: none;
    }

    .show {
        display: block;
    }
</style>
