---
import Layouts from '../layouts/Layout.astro';
---

<Layouts>
    <navbar>
    <a href="/login/">Iniciar Sesión</a>
    <a href="/signup/">Crear Cuenta</a>
    </navbar>
    <h2>Bienvenido a la página de GYM LO QUE SEA</h2> 
</Layouts>
